<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/My-Repos/SeleniumAutomation/src/testCases/java/testCases/test1.java"><classes><class name="testCases.test1"><methods><include name="TC001"/></methods></class></classes></test><test verbose="2" preserve-order="true" name="C:/My-Repos/SeleniumAutomation/src/testCases/java/testCases/test2.java"><classes><class name="testCases.test2"><methods><include name="TC001"/><include name="TC002"/></methods></class></classes></test></suite>